$font1: "Roboto", sans-serif;
$fs1: 15px;
$fs2: 13px;
$fs3: 18px;
$fs4: 35px;
$fs5: 29px;
$fs6: 17px;
$fs7: 11px;
$fs8: 24px;
$fs9: 9px;
$fs10: 14px;
$fs11: 12px;
$fs12: 19px;
$fs13: 23px;
$fs14: 30px;
$fs15: 16px;
$marginHeaderTop: 8px;
$indentRow: 15px;
$indentFooter: 7px;
$gapContacts: 15px;
$widthField: 426px;
$color1: #323232;
$color2: #e8d8b6;
$color3: #ffffff;
$color4: #474747;
$color5: #212121;
$color6: #d6d6d6;
$color7: #c99c47;
$color8: #757575;
$color9: #d4c198;
$color10: #919191;
$color11: #000000;
$color12: #606060;
$color13: #f8f3e9;
$color14: #bbbbbb;
$color15: #555555;
$color16: #464645;
$color17: #999999;
$color18: #bfbfbf;
$color19: #d3ebda;
$color20: #f3ebda;
$color21: #f2ead8;
$color22: #e2cc9d;
$color23: #ec3e3e;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1400px;