$font1: "Roboto", sans-serif;
$font2: "Roboto Condensed", sans-serif;
$font3: "Objective", sans-serif;
$fs1: 31px;
$fs2: 18px;
$fs3: 36px;
$fs4: 20px;
$fs5: 50px;
$fs6: 14px;
$fs7: 16px;
$fs8: 28px;
$fs9: 26px;
$fs10: 25px;
$fs11: 10.41px;
$color1: #0F001A;
$color2: #000000;
$color3: #FFFFFF;
$color4: #FF3D00;
$color5: #EA9127;
$color6: #CC5520;
$color7: #F2F2F2;


$borderRadius1: 4px;
$gradient1: linear-gradient(181.02deg, rgba(255, 79, 0) -17.33%, rgba(255, 107, 0, 0) 75.91%),
linear-gradient(0deg, #FFFFFF, #FFFFFF);
$padding1: 10px;

$padding2: 48px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1400px;